<html>
	<head>
		<title>John's blog</title>
	</head>
<body>
	<div>
		<h1><a href="/">Django Girls Blog</a></h1>
	</div>

<!--
 	{{posts}}

	{% for post in posts %}
		{{ post }}
	{% endfor %}
 -->

 	{% for post in posts %}
 		<div>
 			<p>published: {{ post.published_date }}</p>
 			<h1><a href="">{{ post.title }}</a></h1>
 			<p>{{ post.text|linebreaksbr }}</p>
 		</div>
 	{% endfor %}
 	
	<div>
		<p>published: 17.10.2018, 10:13AM</p>
		<h2><a href"">My first post</a></h2>
		<p>Just some jibberish. This is just as jibbery and perhaps more informative given the circumstances. There will be more correctly formed words with a demonstration of conversational english as opposed to what is shown on the djangogirls.org website.</p>
	</div>

	<div>
		<p>published: 17.10.2018 10:14AM</p>
		<h2><a href"">My second post</a></h2>
		<p>Even more jibberish than before! We're jibbering it all up right now.</p>
	</div>

	<p>Hi there!</p>
	<p>It works!</p>
</body>
</html>
